<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="modulesSection">
      <section name="RewriteModule" type="Syngenta.AgriCast.Common.RewriteModuleSectionHandler, Syngenta.AgriCast.Common"/>
    </sectionGroup>
    <sectionGroup name="localhost">
      <section name="Location" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Core" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Forecast" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Grows" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="agriweb-stage.syngenta-ais.com">
      <section name="Location" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Core" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Forecast" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Grows" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="agriweb.syngenta-ais.com">
      <section name="Location" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Core" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Forecast" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Grows" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="~/ErrorPage.aspx">
      <!--IM01838388 - Error Page - Shery - 20140410 - Start-->
      <!--<error statusCode="404" redirect="~/pagenotfound.htm"/>-->
      <error statusCode="404" redirect="error404.html"/>
      <error statusCode="500" redirect="error500.html"/>
      <!--IM01838388 - Error Page - Shery - 20140410 - End-->
    </customErrors>
  </system.web>
  <localhost>
    <Location DataSource="Data Source=15.141.17.161; Initial Catalog=P_Location; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Core DataSource="Data Source=15.141.17.161; Initial Catalog=P_AgriCore; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Forecast DataSource="Data Source=15.141.17.161; Initial Catalog=P2_Forecast; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Grows DataSource="Data Source=15.141.17.161; Initial Catalog=P_Grows; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />

  </localhost>
  <agriweb-stage.syngenta-ais.com>
    <Location DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P_Location; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Core DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P_Grows; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Forecast DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P2_Forecast; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Grows DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P_Grows; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />

  </agriweb-stage.syngenta-ais.com>
  <agriweb.syngenta-ais.com>
    <Location DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P_Location; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Core DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P_Grows; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Forecast DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P2_Forecast; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />
    <Grows DataSource="Data Source=PUBLICDB2008R2; Initial Catalog=P_Grows; User Id=@id; Password=@password;Connection Timeout=60;" UserId="jPu5Z35Kj9vK+wCeOXej80izz5KbPPe3SFSYr27Zsdg=" PWD="vk4L2nvAc+CyRt6Pxfqw1rcIkyaTgjwX" />


  </agriweb.syngenta-ais.com>
  <appSettings>
    <!--<add key="proxyName" value="http://webproxy.eame.syngenta.org"/>-->
    <add key="proxyName" value="http://autoproxy.eame.syngenta.org"/>
    <add key="defaultPub" value="glbsip02o"/>
    <add key="link" value=""/>
    <add key="UserName" value="t751474"/>
    <add key="Password" value="Infy#123"/>
    <add key="Domain" value="eame"/>
    <add key="defaultImagePath" value="~/Images/captcha1.png"/>
    <!--<add key="MailConfig" value="mailhost"/>-->
    <add key="MailConfig" value="mail-eame.syngenta.org"/>
    <add key="tempfolder" value="temp\"/>
    <add key="ExcelFolder" value="D:\"/>
    <!--This is required for legends for translation. If javascripts are used need to have different delimiters-->
    <add key="startDelimiter" value="{"/>
    <add key="endDelimiter" value="}"/>
    <!-- specify expiry value in minutes-->
    <add key="CacheExpiry" value="120"/>
    <add key="pdfLicence" value="ASozITkhMDE2NyE3LzEhMjAvMDMvODg4OA =="/>
    <add key="mossUrl" value="http://www.syngenta.com/_vti_bin/Topnavigation.asmx"/>
    <!--/* Agricast CR - 3.5  R5 - External user management changes. - Begin */-->
    <add key="DefaultUser" value="defaultuser"/>
    <add key="EncryptKey" value="Agricast_Key"/>
    <add key="DefaultPassword" value="Syngenta@123"/>
    <!--/* Agricast CR - 3.5  R5 - External user management changes. - End */-->
    <!--/* Agricast CR - R4 - Dynamic master template rendering - Begin */-->
    <add key="pubMasterFileName" value="site.master"/>
    <!--/* Agricast CR - R4 - Dynamic master template rendering - End */-->
    <!--/* Agricast CR - R3 - Web service changes (background Image for each cell and color) and chart zooming feature - Begin */
    /* 3.3.1  Charting component should have zooming enabled. */-->
    <add key="bigChartWidth" value="1000"/>
    <!--/* Agricast CR - R3 - Web service changes (background Image for each cell and color) and chart zooming feature - Begin */ -->
    <!--/* 3.3.1  Charting component should have zooming enabled. */-->
    <add key="iconsPath" value="~/temp/icons/"/>
    <add key="WSHost" value="http://agricast.syngenta.com/"/>
    <!--/* Agricast CR - R3 - Web service changes (background Image for each cell and color) and chart zooming feature - Begin */ -->
  </appSettings>
  <system.net/>
  <connectionStrings>
    <add name="LocationDBConnectionString" connectionString="server=15.141.17.161;database=p_Location;uid=agrois_dbo;password=aiS_1414;Connection Timeout=180"/>
    <add name="LanguageDBConnectionString" connectionString="server=15.141.17.161;database=P_Language;uid=agrois_dbo;password=aiS_1414;Connection Timeout=180"/>
    <add name="AgriCoreDBConnectionString" connectionString="server=15.141.17.161;database=p_AgriCore;uid=agrois_dbo;password=aiS_1414;Connection Timeout=180"/>
    <add name="P2_ForecastDBConnectionString" connectionString="server=15.141.17.161;database=P2_Forecast;uid=agrois_dbo;password=aiS_1414;Connection Timeout=180"/>
    <add name="P_Grows" connectionString="server=15.141.17.161;database=P_Grows;uid=agrois_dbo;password=aiS_1414;Connection Timeout=180"/>
    <add name="AspMembershipDB" connectionString="Data Source=15.141.17.161; Initial Catalog=P_usermanagement;uid=agrois_dbo; password=aiS_1414;Connection Timeout=180"/>

  </connectionStrings>
  <modulesSection>
    <RewriteModule>
      <rewriteOn>true</rewriteOn>
      <rewriteRules>
        <!--SOCB 3-Feb-2012 for mobile pages redirection - Abhijit
        Rules for mobile browser-->
        <rule source="pub/(.+)/(.+)\.aspx" destination="$2.aspx?pub=$1" mobdest="Mobile/$2.aspx?pub=$1"/>
        <rule source="pub/(.+)\.aspx" destination="$1.aspx" mobdest="Mobile/$1.aspx"/>
        <rule source="(.+)/Scripts/(.+)" destination="Scripts/$2" mobdest="Mobile/Scripts/$2"/>
        <rule source="(.+)/Images/(.+)" destination="Images/$2" mobdest="Mobile/Images/$2"/>
        <rule source="(.+)/Styles/(.+)" destination="Styles/$2" mobdest="Mobile/Styles/$2"/>
        <rule source="(.+)/UserControls/(.+)" destination="UserControls/$2"/>
        <rule source="(.+)/WebService/(.+)" destination="WebService/$2"/>
        <rule source="(.+)/Pub/(.+)" destination="Pub/$2"/>
        <rule source="(.+)/AutoComplete.ashx" destination="AutoComplete.ashx"/>
        <rule source="(.+)/AgriCastRating.ashx" destination="AgriCastRating.ashx"/>
        <!--EOCB 3-Feb-2012 for mobile pages redirection - Abhijit-->
      </rewriteRules>
    </RewriteModule>
  </modulesSection>
  <system.serviceModel>
    <!--/* Agricast CR - 3.5  R5 - External user management changes. - Begin */-->
    <!-- <client /> -->
    <client>
      <endpoint address="http://agriweb.syngenta-ais.com/syncryptography.asmx" binding="basicHttpBinding" bindingConfiguration="SynCryptographySoap" contract="SynCryptographyService.SynCryptographySoap" name="SynCryptographySoap"/>
    </client>
    <!--/* Agricast CR - 3.5  R5 - External user management changes. - End */-->
    <bindings>
      <basicHttpBinding>
        <binding name="soapBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="None"/>
        </binding>
        <!--/* Agricast CR - 3.5  R5 - External user management changes. - Begin */-->
        <binding name="SynCryptographySoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <!--/* Agricast CR - 3.5  R5 - External user management changes. - End */-->
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Syngenta.AgriCast.LocationSearch.LocWebService.LocSearchWebService" behaviorConfiguration="defaultBehavior">
        <!--/* Configuration for restful & refrence. - Begin */-->
        <!--<endpoint name="LocationSearch" address="/LocSearchWebService.svc" binding="basicHttpBinding" bindingName="soapBinding" contract="Syngenta.AgriCast.LocationSearch.View.ILocSearch"/>-->
        <endpoint name="LocSearchServiceForRest" address="/rest" binding="webHttpBinding" behaviorConfiguration="webHttp" contract="Syngenta.AgriCast.LocationSearch.View.ILocSearch"/>
        <endpoint name="LocSearchServiceForReference" address="" binding="basicHttpBinding" bindingName="soapBinding" contract="Syngenta.AgriCast.LocationSearch.View.ILocSearch"/>
        <!--/* Configuration for restful & refrence. - End */-->
      </service>
      <service name="Syngenta.AgriCast.WebService.AgricastService" behaviorConfiguration="defaultBehavior">
        <!--/* Configuration for restful & refrence. - Begin */-->
        <!--<endpoint name="AgricastService" address="/AgricastService.svc" binding="basicHttpBinding" bindingName="soapBinding" contract="Syngenta.AgriCast.WebService.View.IAgricastService"/>-->
        <endpoint name="AgricastServiceForRest" address="/rest" binding="webHttpBinding" behaviorConfiguration="webHttp" contract="Syngenta.AgriCast.WebService.View.IAgricastService"/>
        <endpoint name="AgricastServiceForReference" address="" binding="basicHttpBinding" bindingName="soapBinding" contract="Syngenta.AgriCast.WebService.View.IAgricastService"/>
        <!--/* Configuration for restful & refrence. - End */-->
      </service>
      <!--/* Agricast CR - 3.5  R5 - External user management changes. - Begin */-->
      <service name="Syngenta.AgriCast.WebService.ExternalService" behaviorConfiguration="defaultBehavior">
        <!--<endpoint address="" binding="basicHttpBinding" contract="Syngenta.AgriCast.WebService.View.IExternalService" />-->
        <endpoint name="ExternalServiceForRest" address="/rest" binding="webHttpBinding" behaviorConfiguration="webHttp" contract="Syngenta.AgriCast.WebService.View.IExternalService"/>
        <endpoint name="ExternalServiceForReference" address="" binding="basicHttpBinding" bindingName="soapBinding" contract="Syngenta.AgriCast.WebService.View.IExternalService"/>
      </service>
      <!--/* Agricast CR - 3.5  R5 - External user management changes. - End */-->
    </services>
    <!--/* Agricast CR - 3.5  R5 - External user management changes. - Begin */-->
    <!-- add aspNetCompatibilityEnabled="true" -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <!--/* Agricast CR - 3.5  R5 - External user management changes. - End */-->
  </system.serviceModel>
  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <authentication mode="Forms"/>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="60"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspMembershipDB" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Clear" applicationName="Agricast"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AspMembershipDB" applicationName="Agricast"/>
      </providers>
      <properties>
        <add name="MyCustomProfile" type="Syngenta.Agricast.UserManagement.CustomProfile" serializeAs="Binary"/>
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AspMembershipDB" applicationName="Agricast"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Agricast"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="RewriteModule" type="Syngenta.AgriCast.Common.RewriteModule, Syngenta.AgriCast.Common"/>
    </httpModules>
    <!--IM01900850:place recognition for AIS Weather Service not working properly! - 20140618 - start-->
    <!--<httpRuntime requestValidationMode="4.0" maxUrlLength="2048"/>-->
    <httpRuntime requestValidationMode="2.0" maxUrlLength="2048"/>
    <!--IM01900850:place recognition for AIS Weather Service not working properly! - 20140618 - end-->
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" clientIDMode="AutoID">
    <controls>
        <add tagPrefix="WF" tagName="AgriInfo" src="~/usercontrols/AgriInfo.ascx"/>
        <add tagPrefix="WL" tagName="WebLocationSearch" src="~/usercontrols/WebLocationSearch.ascx"/>
        <add tagPrefix="WC" tagName="WebChart" src="~/usercontrols/WebChart.ascx"/>
        <add tagPrefix="WI" tagName="WebChartIcons" src="~/usercontrols/WebChartIcons.ascx"/>
        <add tagPrefix="TB" tagName="Toolbar" src="~/usercontrols/Toolbar.ascx"/>
        <add tagPrefix="TL" tagName="Tables" src="~/usercontrols/Tables.ascx"/>
      </controls>
    </pages>
  </system.web>
</configuration>