<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agricast1.AgriInfo" version="1.0.0" targetFramework="net45" />
  <package id="Agriweb.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Practices.EnterpriseLibrary" version="3.1.0.0" targetFramework="net45" />
  <package id="NearByStationSearchInternal" version="1.0.0.5" targetFramework="net45" developmentDependency="true" />
  <package id="WeatherData" version="1.1.1" targetFramework="net45" />
</packages>