#container, .container
{
	height: auto;
	width: 530px;
	position: relative;
	
	border:0px;
	z-index: 15 !ie; 
} 
.main, .pageheader, .page,#container,.footer
{
	width: 530px;
	border:0px;
	padding:0px;
}


#greeting {display:none}
#tools select {display:none}
#imgEmail,#imgFB , #imgPrint {float:right}

.iconDivClass
{
	 /*Maps issue in chrome and fiefox*/
	 /* 135px originally */
	text-align: center;	
	height:80px;
	position: relative;    
	z-index:1000;
	top: 60px;
	width: 360px;
	margin-left: 124px;
	clear:both;
	
	
}
.chartDiv
{
	float:left; 
	padding-left:80px;
	/* UAT Tracker - 521 - glbsip03 - 5-in-1 chart still not to big enough*/
	/*padding-left: 108px;*/
	/*Issue reporte by Sandy : Fri 10/26/2012 5:44 PM*/
   
    margin-top:-80px;
    /*IE-7 chart alignment issue*/
    *margin-top:-100px;
}
/*tool bar width adjustment*/
#tools
{
    width:auto;
}

.iconHeaderTableClass
{
    width: 100%;
	margin-left: 0px;
}

/*Below styles are mandatory for all publications*/
/*IM01170843- New Agricast - embeded JS - vew daily table columns width - END*/
/*This style is needed for aligning the table cells wrt to chart*/
/*Header cell width is calculated as below
headercell width = (chart width - 85px)/number of days for which the tables arec onfigured
in ths pub, header cell width = (465-85)/3 = 154px*/
/*CSS classnames are format is "tblSeriesHeaderStyles_{numberofdays for tables}. this will be used when we have tbls configured in two diff service pages*/
.tblSeriesHeaderStyles_3
{
     text-align:center;
     width:137px;
         
}

.tblSeriesHeaderStyles_5
{
     text-align:center;
     width:76px;
         
}
.tblWidth_3
{
    width:522px;
}
.tblWidth_5
{
     width:522px;
}
 /*IM01170843- New Agricast - embeded JS - vew daily table columns width - END*/

.float-icon-legend .chart-float-icons {

margin-top: 230px;

}

/*For Iframe*/
.pageheader 
{
display: none;
}
div.menu 
{
display: none;
}
.footer 
{
display: none;
}
.label100,.label50 {width: 65px;padding-left: 5px;}
.dropDown, #ddlCountry {
width: 150px;

}
.searchbox {width: 150px;}
.float-icon-legend .chart-float-legend {
width: 81px
}
.comments {

max-width: 300px;

}